<section id="content">

    <div class="content-wrap">

        <div class="container clearfix text-center">

            <!-- Portfolio Items
            ============================================= -->
            <div id="portfolio" class="portfolio-2 portfolio-masonry clearfix">

                <article class="portfolio-item pf-uielements pf-icons">
                    <div class="portfolio-image">
                        <%= link_to raw(image_tag('images/henna.jpg', alt: 'Henna')), henna_services_url %>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                              <h3><%= link_to 'Henna', henna_services_url %></h3>
                            </div>
                        </div>
                    </div>
                </article>

                <<article class="portfolio-item pf-uielements pf-icons">
                    <div class="portfolio-image">
                        <%= link_to raw(image_tag('images/makeuphijab.jpg', alt: 'Makeup & Hijab Styling')), hijab_services_url %>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><%= link_to 'Makeup & Hijab Styling', hijab_services_url %></h3>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item pf-uielements pf-icons">
                    <div class="portfolio-image">
                        <%= link_to raw(image_tag('images/waxing.jpg', alt: 'Waxing')), waxing_services_url %>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><%= link_to 'Waxing', waxing_services_url %></h3>
                            </div>
                        </div>
                    </div>
                </article>

                
                <article class="portfolio-item pf-uielements pf-icons">
                    <div class="portfolio-image">
                        <%= link_to raw(image_tag('images/makeuphairdo.jpg', alt: 'Makeup & Hair Do')), hair_do_services_url %>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><%= link_to 'Makeup & Hair Do', hair_do_services_url %></h3>
                            </div>
                        </div>
                    </div>
                </article>


            </div><!-- #portfolio end -->

            <!-- Portfolio Script
            ============================================= -->
            <script type="text/javascript">

                jQuery(window).load(function(){

                    var $container = $('#portfolio');

                    $container.isotope({ transitionDuration: '0.65s' });

                    $('#portfolio-filter a').click(function(){
                        $('#portfolio-filter li').removeClass('activeFilter');
                        $(this).parent('li').addClass('activeFilter');
                        var selector = $(this).attr('data-filter');
                        $container.isotope({ filter: selector });
                        return false;
                    });

                    $('#portfolio-shuffle').click(function(){
                        $container.isotope('updateSortData').isotope({
                            sortBy: 'random'
                        });
                    });

                    $(window).resize(function() {
                        $container.isotope('layout');
                    });

                });

            </script><!-- Portfolio Script End -->

        </div>

    </div>

</section><!-- #content end -->