<section class="slider-parallax full-screen" style="background: url(<%= service_background_image %>) center bottom; background-size:cover;">

     <div class="container clearfix">
       
         <div class="vertical-middle">

             <div class="heading-block center nobottomborder">
                 <h1 data-animate="fadeInUp" class="oj-title"><%= service_name %></h1>
                 <span data-animate="fadeInUp" data-delay="300" class="fadeInUp animated oj-title"><%= service_description %></span>
             </div>

             <%= render partial: 'layouts/messages' %>

             <div class="panel-body divcenter" style="max-width: 550px;">
                 <%= form_tag request_order_services_url, method: :post, class: "nobottommargin", name: 'cleaning-form', id: 'cleaning-form' do %>
                     <%= hidden_field_tag "order[category_id]", service_category_id %>
                     <%= hidden_field_tag "order[location]", service_location %>
                     <div class="col_full">
                          <input name="order[address]" class="controls form-control placeholder-no-fix required input-lg not-dark" type="text" placeholder="input your address" id="autocomplete" onFocus="geolocate()" value="<%= cart["address"] %>">
                     </div>
                     <div class="col_full">
                         <input name="order[detail]" class="controls form-control placeholder-no-fix required input-lg not-dark" type="text" placeholder="address details (house nr, floor, landmark)" id="cleaning-form-address" value="<%= cart["detail"] %>">
                     </div>
                     <div class="col_half">
                        <%= text_field_tag "order[requested_date]", cart["requested_date"], class: "datepicker input-lg sm-form-control", size: 16, placeholder: 'choose date', id: "cleaning-form-date", style: "padding: 10px 14px;" %>
                     </div>      
                     <div class="col_half col_last">
                       <%= select_tag "order[requested_time]", options_for_select(service_requested_time_options, cart["requested_time"]) , class: "input-lg sm-form-control", placeholder: 'choose time', id: "choose-time" %>
                     </div>
                     
                     <div class="col_full">
                        <%= service_pricing %>
                     </div>

                     <!--div class="col_half col_last">
                         <span class="price">Price: Rp. 250.000,-</span>
                     </div-->


                     <div class="col_full nobottommargin">
                         <button class="button button-3d button-large button-aqua btn-block nomargin" id="cleaning-form-submit" name="cleaning-form-submit" value="submit">SUBMIT</button>
                     </div>
                     <a href="#" class="fleft forgot">*Whats included?</a>
                 <% end %>
             </div>
         </div>

     </div>

 </section>
