<%= render partial: 'orders/header', locals: {breadcrumbs: [link_to(raw("<b>Order ID #{@order.id}</b>"), admin_store_order_url(id: @order.id), class: "btn btn-default")]} %>


<%= form_for @order, {url: admin_store_order_url, role: 'form', method: 'put', multipart: true, html: {class: 'form-horizontal'}} do %>

<div class="row">
  <% if @order.send_email? %><div class="col-md-offset-6 col-md-6"><% else %><div class="col-md-offset-9 col-md-3"><% end %>
    <% if @order.send_payment_request? %>
    <%= link_to 'Payment Request', send_payment_request_admin_store_orders_url(id: @order.id), method: :post, data: { confirm: "Are you sure you want to send payment request for this order?" }, alt: "Payment Request", class: "btn btn-primary" %>
    <% elsif @order.send_warrior_info? %>
    <%= link_to 'Send Warrior Info', send_warrior_info_admin_store_orders_url(id: @order.id), method: :post, data: { confirm: "Are you sure you want to send this warrior for this order?" }, alt: "Send Warrior Info", class: "btn btn-primary" %>
    <% elsif @order.send_feedback_request? %>
    <%= link_to 'Feedback Request', send_feedback_request_admin_store_orders_url(id: @order.id), method: :post, data: { confirm: "Are you sure you want to send feedback request for this order?" }, alt: "Feedback Request", class: "btn btn-primary" %>
    <% end %>
    <%= button_tag 'Update', type: 'submit', class: "btn btn-default green" %>
    <%= button_tag 'Reset', class: "btn btn-default", type: 'reset' %>
  </div>
</div>

<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet">
			<div class="portlet-body form">
          
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
        	<div class="col-md-12">
        		<!-- BEGIN SAMPLE TABLE PORTLET-->
        		<div class="portlet">
        			<div class="portlet-title">
        				<div class="caption">
        					<i class="fa fa-shopping-cart"></i>Order ID #<%= @order.id %></h1>
        				</div>
        				<div class="tools">
        				  <a class="fullscreen" href="javascript:;" data-original-title="" title=""></a>
             			<a href="javascript:;" class="collapse"></a>
        				</div>
        			</div>
        			<div class="portlet-body">
          			  
                <%= render partial: 'form_order', locals: {readonly: false} %>

        			</div>
        		</div>
        		<!-- END SAMPLE TABLE PORTLET-->
        	</div>
        </div>
        <!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END SAMPLE FORM PORTLET-->
	</div>
</div>
<!-- END PAGE CONTENT-->
<% end %>
