<!-- Content
============================================= -->
<section id="content" class="section-payment">

    <div class="content-wrap">

        <%= form_for @payment, url: process_payments_url, method: :post, html: {class: "veritrans-payment-form"} do |f| %>
        
        <%= hidden_field_tag "order_id", @order.id %>
        <%= f.hidden_field :token_id %>
        <input type="submit" style="display: none">
        <%= f.hidden_field :amount %>
        
        <div class="container clearfix">

            <div class="heading-block center nobottomborder">
                <h1>PAYMENT</h1>
            </div>
            
            <%= render partial: 'layouts/messages' %>

            <div class="panel panel-default">
                <div id="billing-detail" class="panel-body" style="padding: 40px;">
                  
                    <div class="col-md-8 col-sm-6 col-xs-6">
                        <h3>Billing Details</h3>
                    </div>

                    <!--div class="col-md-4 col-sm-6 col-xs-6">
                        <a href="#" class="button button-small button-dark button-rounded fright"><i class="icon-edit"></i>Edit</a>
                    </div-->

                    <div class="clearfix"></div>

                    <div class="col-md-12">
                        <ul>
                            <li><%= @order.full_name %></li>
                            <li><%= @order.full_address %></li>
                            <!--li>Jakarta</li-->
                            <li>Indonesia</li>
                        </ul>
                    </div>

                </div>
            </div> 

            <div class="panel panel-default">
                <div id="payment-method" class="panel-body" style="padding: 40px;">
                  
                    <div class="col-md-12">
                        <div class="fancy-title title-bottom-border">
                            <h3>Payment Method</h3>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-12 payment">
                        

                        <div class="tabs clearfix ui-tabs ui-widget ui-widget-content ui-corner-all" id="tab-3">

                            <ul class="tab-nav tab-nav2 clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all text-center" role="tablist">
                                <li class="ui-state-default ui-corner-top col_half nobottommargin" role="tab" tabindex="-1" aria-controls="tabs-9" aria-labelledby="ui-id-9" aria-selected="false">
                                    <a href="#tabs-9" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-9">
                                        <span>Credit Card</span><%= image_tag 'images/cc.png' %><p class="text-center;">*Exclude 3,5% handling fee</p>
                                    </a>
                                </li>
                                <!--li class="ui-state-default ui-corner-top col_half col_last nobottommargin" role="tab" tabindex="-1" aria-controls="tabs-10" aria-labelledby="ui-id-10" aria-selected="false">
                                    <a href="#tabs-10" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-10">    <span>Bank Transfer</span><%= image_tag 'images/banktransfer.png' %><p class="text-center;">*Exclude IDR 7.500 handling fee</p>
                                    </a>
                                </li-->
                            </ul>

                            <div class="tab-container">

                                <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-9" aria-labelledby="ui-id-9" role="tabpanel" aria-expanded="false" aria-hidden="true">
                                    <div class="col_half nobottommargin">
                                        <div class="well">
                                            <div class="fancy-title title-bottom-border">
                                                <h3>Credit Card Information</h3>

                                                    <div class="form-process"></div>

                                                    <div class="col_full">
                                                        <label for="name-credit-card">Credit Card Name</label>
                                                        <!--input type="text" id="name-credit-card" name="name-credit-card" value="" class="sm-form-control required" aria-required="true"-->
                                                        <%= text_field_tag 'order[card_name]', nil, 'aria-required' => 'true', class: "sm-form-control required", id: "name-credit-card" %>
                                                    </div>

                                                    <div class="col_half">
                                                        <label for="no-credit-card">Credit Card Number</label>
                                                        <%= text_field_tag :credit_card_number, nil, 'aria-required' => 'true', class: "required email sm-form-control" %>
                                                        
                                                        <!--input type="text" id="no-credit-card" name="no-credit-card" value="" class="required email sm-form-control" aria-required="true"-->
                                                    </div>

                                                    <div class="col_half col_last">
                                                        <label for="cvv-credit-card" style="text-indent: -999px;">CVV</label>
                                                        <%= text_field_tag :credit_card_cvv, nil, placeholder: "CVV/CVC", class: "sm-form-control" %>
                                                        <!--input type="text" id="cvv-credit-card" name="cvv-credit-card" value="" class="sm-form-control" placeholder="CVV/CVC"-->
                                                    </div>

                                                    <div class="clear"></div>


                                                    <label>Credit Card Expiration Date</label>
                                                    <div class="col_half">
                                                        <select id="credit_card_expire_month" name="credit_card_expire_month" class="sm-form-control">
                                                            <option value="">Month</option>
                                                            <option value="01">01</option>
                                                            <option value="02">02</option>
                                                            <option value="03">03</option>
                                                            <option value="04">04</option>
                                                            <option value="05">05</option>
                                                            <option value="06">06</option>
                                                            <option value="07">07</option>
                                                            <option value="08">08</option>
                                                            <option value="09">09</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                        </select>
                                                    </div>

                                                    <div class="col_half col_last">
                                                        <select id="credit_card_expire_year" name="credit_card_expire_year" class="sm-form-control">
                                                            <option value="">Year</option>
                                                            <option value="15">2015</option>
                                                            <option value="16">2016</option>
                                                            <option value="17">2017</option>
                                                            <option value="18">2018</option>
                                                            <option value="19">2019</option>
                                                            <option value="20">2020</option>
                                                            <option value="21">2021</option>
                                                        </select>
                                                    </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-10" aria-labelledby="ui-id-10" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                                    <div class="col_half nobottommargin">
                                        <div class="well">
                                            <div class="fancy-title title-bottom-border">
                                                <h3>Bank Transfer Information</h3>
                                            </div>
                                            <h4 style="margin-bottom: 10px;">Bank Permata</h4>
                                            <ol style="margin-left: 20px;">
                                                <li>Tekan tombol <strong>"Confirm Payment"</strong> dibawah ini untuk menampilkan nomor rekening permata</li>
                                                <li>Pastikan Anda mencatat nomor rekening Permata tersebut.</li>
                                                <li>Nomor rekening Permata ini hanya berlaku <strong>24 Jam</strong> ke depan</li>
                                            </ol>
                                            <hr>
                                            <h5>Silahkan Transfer ke No. Rekening Permata ini</h5>
                                        </div>
                                    </div>
                                </div-->

                            </div>

                        </div>

                    </div>
                    
                </div>
            </div>    

            <div class="panel panel-default nobottommargin">
                <div id="review-order" class="panel-body" style="padding: 40px;">
                  
                    <div class="col-md-12">
                        <div class="fancy-title title-bottom-border">
                            <h3>Review Order</h3>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-12">
                        <div class="table-responsive">
                          <table class="table" cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td style="width: 17%;">Service</td>
                                <td style="width: 3%;">:</td>
                                <td><%= @order.category_name %></td>
                              </tr>
                              <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td><%= @order.status %></td>
                              </tr>
                              <tr>
                                <td>Date</td>
                                <td>:</td>
                                <td><%= @order.requested_date %></td>
                              </tr>
                              <tr>
                                <td>Time</td>
                                <td>:</td>
                                <td><%= @order.requested_time %> WIB</td>
                              </tr>
                              <tr>
                                <td>Price</td>
                                <td>:</td>
                                <td><%= @order.pricing_desc %></td>
                              </tr>
                              <tr>
                                <td>Name</td>
                                <td>:</td>
                                <td><%= @order.full_name %></td>
                              </tr>
                                <td>Address</td>
                                <td>:</td>
                                <td><%= @order.address %></td>
                              </tr>
                              <tr>
                                <td>Address details</td>
                                <td>:</td>
                                <td><%= @order.detail %></td>
                              </tr>
                              <tr>
                                <td>City</td>
                                <td>:</td>
                                <td><%= service_regions[@order.location] %></td>
                              </tr>
                              <!--tr>
                                <td>Post code</td>
                                <td>:</td>
                                <td>12790</td>
                              </tr-->
                              <tr>
                                <td>Telephone Num.</td>
                                <td>:</td>
                                <td><%= @order.phone %></td>
                              </tr>
                              <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td><%= @order.email %></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="totalpayment">
                            <div class="col_half nobottommargin"><span>Total</span></div>
                            <div class="col_half col_last paymentvalue nobottommargin">
                                <%= money_value(@order.calculate_total) %>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>                  
            <div class="col-md-8 col-md-offset-2 topmargin">              
                <button type="submit" name="commit" class="button button-3d button-large button-aqua btn-block nomargin" id="payment_submit" value="checkout">CHECKOUT</button>
            </div>
        </div>
      <% end %>
      
      <%= render "veritrans_include" %>      
    </div>

</section><!-- #content end -->