<!DOCTYPE html>

  <%= render partial: 'layouts/license' %>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title><%= ApplicationController::SITE_NAME %> | CMS</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<%= stylesheet_link_tag 'css/login.css' %>

<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link href="/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<%= stylesheet_link_tag 'layout/css/custom.css', 'layout/css/themes/darkblue.css' %>

<!-- END THEME STYLES -->
<link rel="shortcut icon" href="<%= asset_path ApplicationController::SITE_ICON %>"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
	<% if !ApplicationController::SITE_LOGO.blank? %><a href="/admin"><%= image_tag ApplicationController::SITE_LOGO, alt: 'logo', class: 'logo-default' %></a><% else %><a href="/admin" class="navbar-brand"><%= ApplicationController::SITE_NAME %></a><% end %>
</div>
<!-- END LOGO -->

  <%= yield %>  

<div class="copyright">
	 2015 © <%= ApplicationController::SITE_NAME %>.
</div>

  <%= render partial: 'layouts/login_footer_asset_js' %>
  
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>